
.vs/ProjectEvaluation/lothiumlogger.projects.v7.bin
.vs/ProjectEvaluation/lothiumlogger.metadata.v7.bin
.vs/LothiumLogger/xs/UserPrefs.xml
.vs/LothiumLogger/xs/project-cache/LothiumLogger.Tester-Debug.json
.vs/LothiumLogger/xs/project-cache/LothiumLogger-Debug.json
.vs/LothiumLogger/v17/.suo
.vs/LothiumLogger/v17/.futdcache.v2
.vs/LothiumLogger/FileContentIndex/e792e3f9-0865-47d2-b8ab-2fe063bfcecb.vsidx
.vs/LothiumLogger/FileContentIndex/b43586d4-e617-4d32-b699-29d22643053e.vsidx
.vs/LothiumLogger/FileContentIndex/ad2ccbd1-8cd6-4a59-8a0c-ac441a6f8a6d.vsidx
.vs/LothiumLogger/FileContentIndex/6ac375e9-a964-4832-b06c-46d06a8a0b22.vsidx
.vs/LothiumLogger/FileContentIndex/40ae03f0-8cb4-45c3-b5af-78a5a06499cc.vsidx
.vs/LothiumLogger/DesignTimeBuild/.dtbcache.v2
LothiumLogger.Tester/bin/Debug/net6.0/Log/Err_Log_230810.ltlog
LothiumLogger.Tester/bin/Debug/net6.0/Log/Error_Log_230809.ltlog
LothiumLogger.Tester/bin/Debug/net6.0/Log/Error_Log_230810.ltlog
LothiumLogger.Tester/bin/Debug/net6.0/Log/Log_230809.ltlog
LothiumLogger.Tester/bin/Debug/net6.0/Log/Log_230810.ltlog
LothiumLogger.Tester/bin/Debug/net6.0/LothiumLogger.dll
LothiumLogger.Tester/bin/Debug/net6.0/LothiumLogger.pdb
LothiumLogger.Tester/bin/Debug/net6.0/LothiumLogger.Tester
LothiumLogger.Tester/bin/Debug/net6.0/LothiumLogger.Tester.deps.json
LothiumLogger.Tester/bin/Debug/net6.0/LothiumLogger.Tester.dll
LothiumLogger.Tester/bin/Debug/net6.0/LothiumLogger.Tester.exe
LothiumLogger.Tester/bin/Debug/net6.0/LothiumLogger.Tester.pdb
LothiumLogger.Tester/bin/Debug/net6.0/LothiumLogger.Tester.runtimeconfig.json
LothiumLogger.Tester/bin/Release/net6.0/LothiumLogger.dll
LothiumLogger.Tester/bin/Release/net6.0/LothiumLogger.pdb
LothiumLogger.Tester/bin/Release/net6.0/LothiumLogger.Tester.deps.json
LothiumLogger.Tester/bin/Release/net6.0/LothiumLogger.Tester.dll
LothiumLogger.Tester/bin/Release/net6.0/LothiumLogger.Tester.exe
LothiumLogger.Tester/bin/Release/net6.0/LothiumLogger.Tester.pdb
LothiumLogger.Tester/bin/Release/net6.0/LothiumLogger.Tester.runtimeconfig.json
LothiumLogger.Tester/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
LothiumLogger.Tester/obj/Debug/net6.0/apphost
LothiumLogger.Tester/obj/Debug/net6.0/apphost.exe
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.AssemblyInfo.cs
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.AssemblyInfoInputs.cache
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.assets.cache
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.csproj.AssemblyReference.cache
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.csproj.BuildWithSkipAnalyzers
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.csproj.CopyComplete
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.csproj.CoreCompileInputs.cache
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.csproj.FileListAbsolute.txt
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.dll
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.GeneratedMSBuildEditorConfig.editorconfig
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.genruntimeconfig.cache
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.GlobalUsings.g.cs
LothiumLogger.Tester/obj/Debug/net6.0/LothiumLogger.Tester.pdb
LothiumLogger.Tester/obj/Debug/net6.0/ref/LothiumLogger.Tester.dll
LothiumLogger.Tester/obj/Debug/net6.0/refint/LothiumLogger.Tester.dll
LothiumLogger.Tester/obj/LothiumLogger.Tester.csproj.nuget.dgspec.json
LothiumLogger.Tester/obj/LothiumLogger.Tester.csproj.nuget.g.props
LothiumLogger.Tester/obj/Release/net6.0/apphost.exe
LothiumLogger.Tester/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
LothiumLogger.Tester/obj/project.nuget.cache
LothiumLogger.Tester/obj/project.assets.json
LothiumLogger.Tester/obj/LothiumLogger.Tester.csproj.nuget.g.targets
LothiumLogger.Tester/obj/Release/net6.0/refint/LothiumLogger.Tester.dll
LothiumLogger.Tester/obj/Release/net6.0/ref/LothiumLogger.Tester.dll
LothiumLogger.Tester/obj/Release/net6.0/LothiumLogger.Tester.pdb
LothiumLogger.Tester/obj/Release/net6.0/LothiumLogger.Tester.GlobalUsings.g.cs
LothiumLogger.Tester/obj/Release/net6.0/LothiumLogger.Tester.genruntimeconfig.cache
LothiumLogger.Tester/obj/Release/net6.0/LothiumLogger.Tester.GeneratedMSBuildEditorConfig.editorconfig
LothiumLogger.Tester/obj/Release/net6.0/LothiumLogger.Tester.dll
LothiumLogger.Tester/obj/Release/net6.0/LothiumLogger.Tester.csproj.FileListAbsolute.txt
LothiumLogger.Tester/obj/Release/net6.0/LothiumLogger.Tester.csproj.CoreCompileInputs.cache
LothiumLogger.Tester/obj/Release/net6.0/LothiumLogger.Tester.csproj.CopyComplete
LothiumLogger.Tester/obj/Release/net6.0/LothiumLogger.Tester.csproj.AssemblyReference.cache
LothiumLogger.Tester/obj/Release/net6.0/LothiumLogger.Tester.assets.cache
LothiumLogger.Tester/obj/Release/net6.0/LothiumLogger.Tester.AssemblyInfoInputs.cache
LothiumLogger.Tester/obj/Release/net6.0/LothiumLogger.Tester.AssemblyInfo.cs
LothiumLogger/bin/Debug/net6.0/LothiumLogger.deps.json
LothiumLogger/bin/Debug/net6.0/LothiumLogger.dll
LothiumLogger/bin/Debug/net6.0/LothiumLogger.pdb
LothiumLogger/bin/Release/LothiumLogger.1.0.0.nupkg
LothiumLogger/bin/Release/net6.0/LothiumLogger.deps.json
LothiumLogger/bin/Release/net6.0/LothiumLogger.dll
LothiumLogger/bin/Release/net6.0/LothiumLogger.pdb
LothiumLogger/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
LothiumLogger/obj/Debug/net6.0/LothiumLogger.AssemblyInfo.cs
LothiumLogger/obj/Debug/net6.0/LothiumLogger.AssemblyInfoInputs.cache
LothiumLogger/obj/Debug/net6.0/LothiumLogger.assets.cache
LothiumLogger/obj/Debug/net6.0/LothiumLogger.csproj.BuildWithSkipAnalyzers
LothiumLogger/obj/Debug/net6.0/LothiumLogger.csproj.CoreCompileInputs.cache
LothiumLogger/obj/Debug/net6.0/LothiumLogger.csproj.FileListAbsolute.txt
LothiumLogger/obj/Debug/net6.0/LothiumLogger.dll
LothiumLogger/obj/Debug/net6.0/LothiumLogger.GeneratedMSBuildEditorConfig.editorconfig
LothiumLogger/obj/Debug/net6.0/LothiumLogger.GlobalUsings.g.cs
LothiumLogger/obj/Debug/net6.0/LothiumLogger.pdb
LothiumLogger/obj/Debug/net6.0/ref/LothiumLogger.dll
LothiumLogger/obj/Debug/net6.0/refint/LothiumLogger.dll
LothiumLogger/obj/LothiumLogger.csproj.nuget.dgspec.json
LothiumLogger/obj/LothiumLogger.csproj.nuget.g.props
LothiumLogger/obj/LothiumLogger.csproj.nuget.g.targets
LothiumLogger/obj/project.assets.json
LothiumLogger/obj/project.nuget.cache
LothiumLogger/obj/Release/LothiumLogger.1.0.0.nuspec
LothiumLogger/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
LothiumLogger/obj/Release/net6.0/LothiumLogger.AssemblyInfo.cs
LothiumLogger/obj/Release/net6.0/LothiumLogger.AssemblyInfoInputs.cache
LothiumLogger/obj/Release/net6.0/LothiumLogger.assets.cache
LothiumLogger/obj/Release/net6.0/LothiumLogger.csproj.CoreCompileInputs.cache
LothiumLogger/obj/Release/net6.0/LothiumLogger.csproj.FileListAbsolute.txt
LothiumLogger/obj/Release/net6.0/LothiumLogger.dll
LothiumLogger/obj/Release/net6.0/LothiumLogger.GeneratedMSBuildEditorConfig.editorconfig
LothiumLogger/obj/Release/net6.0/LothiumLogger.GlobalUsings.g.cs
LothiumLogger/obj/Release/net6.0/LothiumLogger.pdb
LothiumLogger/obj/Release/net6.0/ref/LothiumLogger.dll
LothiumLogger/obj/Release/net6.0/refint/LothiumLogger.dll
